.hero-section {
  max-height: 600px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  top: 73px;
  width: 370px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

.hero-title {
  font-size: 50px;
  color: var(--main-dark);
  margin: 0;
  padding: 0;
}

.hero-sub-title {
  font-size: 19px;
  /*  text-shadow: 1px 1px #f2f2f2a8; */
}
